<h1>Edit Products</h1>
 
<%= form_with(model: @article) do |form| %>
 
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  
 
 <p>
   <%= form.label :name %><br>
   <%= form.text_field :title %>
    </p>
 
 <p>
   <%= form.label :name %><br>
   <%= form.text_area :text %>

    <%= form.check_box :_destroy %>
    <%= form.label :_destroy,'remove' %>
    </p>
 
 <%= form.fields_for :comments do |builder| %>

  <p>
    <%= builder.label :name %><br> 
    <%= builder.text_area :text %>
    <%= builder.check_box :_destroy %>
    <%= builder.label :_destroy,'remove' %>

<% end %>
  <p>
  <%= form.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', articles_path %>